[2018-10-24 16:40] Nacho-Leon opened #2 "readme.md ambiguity"
Choose the deployment
1. Bring up Citrix Ingress Controller for VPX, MPX
...
 **kubectl create -f guestbook-ingress.yml**

2. Bring up CPX with builtin Controller

...
 **kubectl create -f guestbook-ingress.yml**

SAME YAML FILE

[2018-10-25 03:10] janraj commented on #2
@Nacho-Leon
              Example talks about bringing up guest book application  which will be load balanced by either VPX/MPX or  CPX-wth built in controller. The yaml file mentioned here is for ingress resource which is same for both deployment models.  Deployment section has details about two models of deployment  where separate yamls being used.

[2018-12-26 21:03] simongottschlag opened #4 "Using Ingress Controller with NetScaler INC"
Hi,

Reading the YAML for the ingress controller, there isn’t any info about how to add the NetScaler IP if the HA pair is running in INC mode:
https://github.com/citrix/citrix-k8s-ingress-controller/blob/master/deployment/baremetal/citrix-k8s-ingress-controller.yam

Is INC supported? (It is a requirement for Azure HA)l

[2018-12-26 21:09] simongottschlag opened #5 "Hashicorp Vault integration"
Hi,

We are using Hashicorp for both secrets and PKI. Kubernetes already has an authentication method in Vault.

Would it be possible to integrate with Vault for secrets and certificates?

[2019-01-03 00:39] chiradeep commented on #5
Just to clarify:
- you want to store the secret (in this case the NetScaler password) in Vault
- you want to store the TLS certificates that are bound to the cs vserver in Vault?

[2019-01-03 07:54] simongottschlag commented on #5
Hi!

A few examples:
* Use Vault to issue certificates and rotate them frequently (both server and client)
* Use Vault to issue username/password for things NetScaler use (monitors, ldap actions, oauth actions etc)
* Use the Azure Secret engine to issue credentials used by NetScaler to connect to Azure

These are just a few.

[2019-01-03 18:52] simongottschlag commented on #5
Hi,

In the ingress case It would be great to get certs that way, as well as credentials for ADCs(?)

[2019-01-04 00:07] chiradeep commented on #5
Is the ADC a VPX/MPX or a CPX?

[2019-01-04 15:03] simongottschlag commented on #5
Was thinking both, but we are using VPX/MPX

[2019-01-04 23:08] pankajharnandka commented on #5
Simon we are planning to integrate with vaults in both traditional departments as well as k8s in future. Currently plan is to integrate with Hashicorp and keywhiz for getting certs and keys from remote vaults and keep in memory. In future, we will work on automating certs rotation by using vaults/secret discover services.

[2019-01-05 04:51] ankits123 commented on #4
Hi Simon

Greetings of the Day and Happy new Year.
The ingress controller currently supports only HA in non INC mode.Can you please explain more on the use case and topology wrt. kubernetes clusters.
Are there multiple kubernetes clusters in different networks  that the HA pair needs to handle ?

[2019-01-05 07:51] simongottschlag commented on #4
Hi and happy new year!

When running VPX in Azure, INC is required for HA.

[2019-01-06 03:06] chiradeep commented on #5
The TLS Kubernetes secret specified in the ingress resource gets copied to the ADC as an SSL certificate. So, you have to get your Vault secrets converted to Kubernetes secrets. There is a project here: https://github.com/Boostport/kubernetes-vault which can do that. Of course if the secret changes (rotates), the ingress controller will not update it in the ADC

[2019-01-08 06:52] simongottschlag commented on #5
Ok! Thanks :) Looking forward to seeing this.

[2019-03-12 23:28] alburg opened #6 "Specify Traffic Domain?"
Hi - is it possible to specify a non-default traffic domain in the pod?

[2019-03-13 03:51] janraj commented on #6
@alburg, I am not clear about the question. Are you looking for traffic domain support on  Citrix ADC via Citrix Ingress controller? If yes, Citrix ingress controller supports partition. Use partition username and password for bringing up Citrix Ingress Controller.

[2019-03-13 05:34] alburg commented on #6
Thank you for the response @janraj and my apologies for not being clear.  Our ADC currently has one partition and two traffic domains.  The Citrix Ingress Controller is using the default traffic domain.  I'd like it to use the other domain.  Is there a way I can bring it up and tell it to use the other domain?  Or is a partition my best bet?

[2019-03-13 06:12] janraj commented on #6
@alburg, Traffic domain is not supported but Partition is supported. You have to rely on the partition for your requirement.

[2019-03-13 11:31] alatdev opened #7 "Wildcards"
Hi,

as far as i found out, the path variable from the ingress.yaml is converted in the form of HTTP.REQ.URL.PATH.EQ("path") to a CS-Policy.

But how can i use wildcards?

[code]

[2019-03-13 11:53] janraj commented on #7
@alatdev, Right now regex support is not released. We are working on this support.

[2019-03-13 13:20] alatdev commented on #7
@janraj thanks for the reply. When do you plan to support it?

[2019-03-14 21:59] alburg commented on #6
Thank you @janraj , I was able to get this working successfully with a Partition.  Thanks!

[2019-03-14 21:59] #6 closed

[2019-03-21 18:00] alburg opened #8 "Preconfigured Certificate Example Syntax"
Hi - it looks like the syntax on the preconfigured certificates example on the tls-certificate-handling.md page is incorrect.

I could not get this to work:
`'ingress.citrix.com/preconfigured-certkey : '{"certs": [ {"name": <name>, ["type": "default|sni|ca"]} ] }'`

I could get this to work:
`ingress.citrix.com/preconfigured-certkey : '{"certs": [ {"name": "<name>", "type": "default|sni|ca"} ] }'`

[2019-03-22 03:27] janraj commented on #8
@alburg, Thanks for your feedback. Its a documentation bug  (.md format has caused this) from our side. We will fix this. As you know annotations start without any quotes.    We have a slack channel through which you can directly reach out to the development community in case any help is required.

[2019-03-22 05:38] nirmalkn commented on #8
Hi @alburg, i have updated the syntax as suggested. The updated  tls-certificate-handling.md page is now available.

[2019-03-22 05:38] #8 closed

[2019-03-23 18:59] alburg commented on #8
Thanks!

[2019-03-25 15:31] LipingMao opened #9 "Install citrix-k8s-ingress-controller with helm in non-default namespace failed"
Helm charts hard-code install serviceaccount in default namespace, when I install it in non-default namespace(it is cpx in my env), it will failed.

Here is command to install helm:
helm install citrix-k8s-cpx-ingress-controller --namespace cpx --name limao-cpx --set license.accept=yes,ingressClass[0]=cpx

Here is the log:
  Warning  FailedCreate  49s (x15 over 2m11s)  replicaset-controller  Error

[2019-03-26 07:08] priyankash-citrix commented on #9
@LipingMao We have updated our helm charts. Now you should be able to deploy pods in a non-default namespace using helm charts.

[2019-03-26 07:08] #9 closed

[2019-03-26 08:15] LipingMao commented on #9
@priyankash-citrix  thanks, works for me.

[2019-03-26 08:32] LipingMao opened #10 "Pod goes int CrashLoopBackOff status when enable exporter in citrix-k8s-ingress-controller"
quay.io/citrix/netscaler-metrics-exporter:v1.0.0 consistent restarting when I enable exporter.

Here is the command I'm using the following helm command:
helm install citrix-k8s-ingress-controller --name vpx --set license.accept=yes,ingressClass[0]=vpx,exporter.require=1.0 --set nsIP=10.253.3.64

The pod goes into CrashLoopBackOff status:
[root@ams-dev-limao-ctrl001 stable]# kubectl describe pod c

[2019-03-26 13:20] krdpk17 commented on #10
Thanks for reaching us and notifying this issue. Can you please share the log of container.
You can use 'kubectl logs -f cic-k8s-ingress-controller -c exp'

[2019-03-26 13:50] janraj commented on #10
@LipingMao , Can you please try with "latest" tag instead of  "v1.0.0"

[2019-03-28 15:54] LipingMao commented on #10
Thanks @krdpk17 , here it is:
[root@ams-dev-limao-ctrl001 ~]# kubectl logs -f cic-k8s-ingress-controller -c exp -n vpx

Traceback (most recent call last):
  File "/exporter/exporter.py", line 156, in <module>

    REGISTRY.register(NetscalerCollector(nsips=args.target_nsip, metrics=metrics_json, username=ns_user, password=ns_password, secure=args.secure.lower()))
  File "/usr/lib/python2.7/site-pa

[2019-03-28 15:55] alatdev commented on #7
Or can I use HTTP.REQ.URL.PATH.GET(1).EQUALS("foo") somehow?

[2019-03-28 15:57] LipingMao commented on #10
@janraj :  it works the container did not crash, but I see the following log:

Traceback (most recent call last):
  File "/usr/lib/python2.7/logging/__init__.py", line 868, in emit
    msg = self.format(record)
  File "/usr/lib/python2.7/logging/__init__.py", line 741, in format
    return fmt.format(record)
  File "/usr/lib/python2.7/logging/__init__.py", line 465, in format
    record.message =

[2019-03-28 16:20] ankits123 commented on #7
@alatdev Hi please try with below modified yaml also please refer the latest yaml annotations here (https://github.com/citrix/citrix-k8s-ingress-controller/blob/master/docs/annotations.md). (ingress.citrix.com/frontend-ip.Also no need to use    NETSCALER_HTTP_PORT: "80" ) .... please refer example : (https://github.com/citrix/citrix-k8s-ingress-controller/blob/master/example/guestbook/guestbook-in

[2019-04-08 23:46] krdpk17 commented on #10
@LipingMao We have updated exporter. We are bringing some more changes related to user credential error condition. Meanwhile, you can try with current version of exporter.

[2019-04-08 23:47] krdpk17 commented on #10
@LipingMao  Thanks for providing data and reporting this issue.
We have updated exporter. We are bringing some more changes related to user credential error condition. Meanwhile, you can try with current version of exporter.

[2019-05-13 16:40] chiradeep commented on #5
I believe this is fixed
https://developer-docs.citrix.com/projects/citrix-k8s-ingress-controller/en/latest/certificate-management/vault/

[2019-05-13 16:40] #5 closed

[2019-05-15 15:10] janraj commented on #2
Had updated the Doc. CLosing this issue.

[2019-05-15 15:10] #2 closed

[2019-05-17 08:05] alloran opened #36 "LB and CS objects prefix"
Hi!

Is there any possibility to configure prefix for LB and CS objects created in citrix mpx by CIC, instead of "k8s" ?

It will help to simplify visual identification of objects created by different CIC instances in different k8s clusters.

[2019-05-17 08:18] IKabdyushev commented on #36
We have the same issue, the way of renaming ingresses for different clusters seems to be inefficient

[2019-05-17 08:57] alloran opened #37 "CIC cannot use preconfigured certkey which name contains dots"
Hi!

CIC cannot use preconfigured certkey which name contains dots.

ingress annotation:
`ingress.citrix.com/preconfigured-certkey : '{"certs": [ {"name": "STAR.example.com"} ] }'`

netscaler cli:
[code]
cic pod logs:
[code]
cic version 1.1.1

[2019-05-17 16:50] janraj commented on #36
@alloran @IKabdyushev , We have an option to control the Prefix. Please use following settings at CIC level to control the prefix of Netscaler COnfigurations. Change the value field with your choice of prefix.
    - name: "NS_APPS_NAME_PREFIX"
       value: "k8s-"

[2019-05-17 17:42] janraj commented on #36
@alloran , @IKabdyushev , Please refer README section in deployment/baremetal.

https://github.com/citrix/citrix-k8s-ingress-controller/tree/master/deployment/baremetal

Please join our slack channel [Question section of Main README], we can provide all the help with Citrix Ingress controller and cpx.
https://citrixadccloudnative.slack.com/messages/GFPHN10HF/

I am closing this issue, now.

[2019-05-17 17:42] #36 closed

[2019-05-28 10:31] agrbhuvnesh commented on #37
@alloran, Thanks for reporting this issue. We are able to reproduce this in our environment and are in process to provide the fix. We will update fix along with next release by 6th June, 2019.

[2019-05-31 05:27] haroraCitrix commented on #10
@LipingMao we have updated the exporter version to v1.0.5, you can try with the latest cpx+exporter. we have fixed this issue. closing for now.

[2019-05-31 05:27] #10 closed

[2019-06-17 13:51] steviestainz commented on #7
@alatdev I also had a problem with Tomcat hosted applications which automatically redirect from /appname to /appname/ when first connecting via the ingress. The trailing '/' breaks the matching rule in the absence of a wildcard and so I had to create a rewrite rule which would modify the request URLs using the Citrix rewrite functionality, e.g.

	apiVersion: citrix.com/v1
	kind: rewritepolicy
	met

[2019-06-18 09:20] alloran commented on #37
Any progress on this issue?

[2019-06-18 09:52] krdpk17 commented on #37
@alloran Thanks for the query. We have fixed this issue and it will  will be resolved in upcoming version.

[2019-06-28 12:09] maxh8086 opened #64 "CPX CIC failed with error : operation for [KubeAppInterfaceTestKube] init component failed"
Hello Team,

We are trying to deploy citrix ingress controller with CPX, however CIC failed with error.

My Deployment File -

[code]

Below is log details of CPX  -

[code]

below is log of CIC at the same time -

[code]

[2019-06-28 13:14] maxh8086 commented on #64
After deploying everything to default namespace has solved earlier error but yet getting new error and ingress rule is still not working.

[code]

[2019-06-29 08:35] krdpk17 commented on #64
@maxh8086 Thanks for sharing the issue. Also, good to know that you could resolve the RBAC issue.
CIC can run in non-default namespace as well. You need to change the  namespace in RBAC yaml.  Please try and let us know.

kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: cpx-ingress-k8s-role
  namespace: cpx-ingress
roleRef:
  apiGroup: rbac.authorization.k8s

[2019-07-01 11:40] krdpk17 commented on #64
@maxh8086 Greetings. Wished to check if you are able to run CIC in your namespace?

Also, for second issue, are you available for a troubleshooting session ?

[2019-07-06 12:48] kuktaikn opened #65 "CIC does not make any ingress config in vpx."
I am creating a single-tier topology with CIC with VPX.
I set it in the following order.
1. Creat Kubernetes Cluster
2. I deployed CIC using citrix-k8s-ingress-controller.yaml
[citrix-k8s-ingress-controller.yaml.txt](https://github.com/citrix/citrix-k8s-ingress-controller/files/3364687/citrix-k8s-ingress-controller.yaml.txt)
   -          - --feature-node-watch ->> true
   - So CIC created a POD N

[2019-07-06 14:23] kuktaikn commented on #65
I checked pod log and finded some errors
But I do not know if it is related to this issue.
![image](https://user-images.githubusercontent.com/52600640/60757397-faf39b00-a044-11e9-87d4-79a90590ce5b.png)

[2019-07-06 16:05] apoorva-05 commented on #65
Hi @kuktaikn ,

Looks like the citrix-k8s-ingress-controller.yaml used has ingress class specified and the same isn't mentioned in the ingresstest.yaml
Please add the following annotation in the ingresstest.yaml for citrix-ingress-controller to configure the ingress on the VPX.
**kubernetes.io/ingress.class: "citrix"**

You can refer the ingress class document to know more about it.
https://github

[2019-07-06 17:54] kuktaikn commented on #65
Dear apoorva-05
Thank you for your comment.
I was able to solve the issue with your help.
There are two miss config.
1. kubernetes.io/ingress.class: "citrix"
2. ingress.citrix.com/lbvserver: '{"citrix-svc":{"lbmethod":"LEASTCONNECTION", ¡°persistenceType":"SOURCEIP"}}'

I don't know why special character [¡°] is in ingress.yaml
I still can not see the special character in my notepad and it looks n

[2019-07-08 06:08] krdpk17 commented on #65
@kuktaikn Thanks for the info.  @apoorva-05 thanks for the help.
@kuktaikn  Closing this issue.

[2019-07-08 06:08] #65 closed

[2019-07-26 08:45] krdpk17 commented on #7
@alatdev @steviestainz CIC has support of prefix based regex in 1.2.0
With this enhancement, path / will allow traffic to all traffic with path starting with /.
Wished to check if this enhancement helps.

[2019-07-26 11:46] IKabdyushev opened #81 "After upgrade VIP naming in 1.2.0, VIPs can't be applied due to existence of old VIP names"
Hello!
We had VIPs created via Citrix Ingress Contoller, the created name format was: `PREFIX-VIP:PORT:PROTOCOL`.
1) In versions prior to 1.2.0 PREFIX could have **non** alphanumeric characters (- or _). We used these characters
2) In new versions the name format was changed: `PREFIX-VIP:PORT:PROTOCOL` changed to `PREFIX-VIP_PORT_PROTOCOL` (: changed _)

Summarizing these two problems, the old VIP

[2019-07-26 14:35] krdpk17 commented on #81
@IKabdyushev thanks for reporting this. Wished to know about prefix name which is used by you.

[2019-07-26 14:37] krdpk17 commented on #64
@maxh8086 Please let us know if we can help anyway.

[2019-07-26 14:59] krdpk17 commented on #81
@IKabdyushev In 1.2.0, delimiter is added by default and it is '-'.
So, as an example, If  NS_APPS_NAME_PREFIX is '**abc**-' in previous release, then in 1.2.0, its value should be '**abc**' . '-' will be added by default.

In 1.2.0, non-alphanumeric characters are not allowed.

[2019-07-26 18:23] maxh8086 commented on #64
Hi,

We deployed updated version via helm chart n its started working now.

On Fri, Jul 26, 2019, 20:07 Deepak Kumar <notifications@github.com> wrote:

[2019-07-27 06:08] IKabdyushev commented on #81
@krdpk17 Prefix is not a problem as it is changeable.
When I looked at logs of cic, i noticed that
`PREFIX-VIP:PORT:PROTOCOL changed to PREFIX-VIP_PORT_PROTOCOL (: changed _)`
That's why even if I change Prefix, I can't change the delimiter : to _ as cic names VIP automatically.

We had VIP something like
`TEST_k8s-192.168.1.1:443:ssl`
Ok, now the prefix is only alphanumeric, suppose we change it

[2019-07-27 06:37] krdpk17 commented on #81
@IKabdyushev thanks for the info.
<<That's why even if I change Prefix, I can't change the delimiter : to _ as cic names VIP automatically.>>
New CIC (1.2.0) should automatically take care of changing from  k8s-192.168.1.1:443:ssl to k8s-192.168.1.1_443_ssl

Wished to check if we can have a remote session for this. Kindly suggest.

[2019-07-27 06:40] krdpk17 commented on #64
@maxh8086 thanks a lot for the info. Closing this ticket.

[2019-07-27 06:40] #64 closed

[2019-07-30 05:15] krdpk17 commented on #81
@IKabdyushev Greetings of the day. Wished to check if we can have meeting this week whenever convenient for you.

@ankits123 @janraj @haroraCitrix

[2019-07-30 05:42] IKabdyushev commented on #81
@krdpk17 Hello, let's have a call tomorrow (31 July) 3pm our local time (GMT+6).

[2019-07-30 05:47] krdpk17 commented on #81
@IKabdyushev thanks for suggestion. It will be 2:30 PM(afternoon) India time (IST). Kindly share the mail ID on which we can send you the GTM meeting  invite.
@ankits123 @janraj @haroraCitrix

[2019-07-30 23:09] krdpk17 commented on #81
@IKabdyushev

[2019-07-31 04:27] krdpk17 commented on #81
@IKabdyushev Good morning. I didn't see any mail from your side. So, wished to check with you.
Alternately, we can share the GTM session link here, if it is fine to you. Kindly suggest.
@ankits123 @janraj @haroraCitrix

[2019-07-31 04:56] IKabdyushev commented on #81
@krdpk17 Hello! Sorry for not replying, we solved the problem manually, so no call is needed anymore. we provide some information about it later in this issue and then close it.

[2019-07-31 06:04] krdpk17 commented on #81
@IKabdyushev thanks for the info. Good to know this.

[2019-08-06 04:03] krdpk17 commented on #7
@alatdev @steviestainz Wished to check if you are good with your need so that I can go ahead to close this.

[2019-08-06 12:22] krdpk17 commented on #7
@alatdev @steviestainz Closing this issue. For any help, please let us know.

[2019-08-06 12:22] #7 closed

[2019-08-06 12:25] krdpk17 commented on #37
@alloran Kindly use the current release(1.2.0) and let us know. This code has the fix. Wished to share this with you.

[2019-08-06 12:32] krdpk17 commented on #81
Closing as user has resolved the issue.

[2019-08-06 12:32] #81 closed

[2019-08-06 13:37] steviestainz commented on #7
Thanks, I've upgraded to 1.2.0 and will reopen the issue if necessary. Much appreciated

[2019-08-06 16:26] travissutton opened #91 "Ingress Controller Not Creating VIP for LoadBalancer Services"
I've setup a single-tier deployment using a HA NS VPX configuration and kubernetes v1.14.3. When I go to create a service and assign the `loadbalancer` spec type, the ingress-controller registers the event but determines that it is not responsible for creating the VIP? Here is the relevant logs: https://pastebin.com/SpSDBUPQ.

I am using the IPAM setup. It is communicating with the NS VPX configur

[2019-08-06 17:51] alloran commented on #37
Now it works, thanks!

[2019-08-06 17:51] #37 closed

[2019-08-06 18:26] janraj commented on #91
@travissutton, We need more information to identify the issue. Can you please provide the environment variables [Optional arguments except Username/Password/IP's] provided in CIC yamls   Would it possible for you to join our slack channel ? Please refer Questions section on the main page [https://github.com/citrix/citrix-k8s-ingress-controller]

[2019-08-06 18:48] travissutton commented on #91
@janraj Sure. I'll join the slack channel. I think I just found the issue with the configuration while pulling the environment variables. I noticed that my `--ipam=citrix-ipam-controller` wasn't correct and so updated that in the helm chart I modified. This formatted it correctly and it seems that it is working now. So it appears that it was just not getting an IP address instead - and since I was

[2019-08-06 18:48] #91 closed

[2019-08-06 18:59] janraj commented on #91
@travissutton, Please join the slack which would ease up procedure.  We will assign a dedicated engineer to assist for any queries/issues.

[2019-08-07 18:13] travissutton opened #94 "Experiencing VPX issues - VIP Naming and HA Configuration Not Saving on Update"
**Describe the bug**
I'm running into 2 issues with my deployment. Overall, the solution works but it's just behaving a bit odd. I've also requested an invite to the slack channel, but have not received anything back. I'd be happy to discuss more there if needed.

First, all VIPs created in the VPX are duplicated for the name: `vip_name_svc_vip_name_svc`. It might be related to the CS VIP name, bu

[2019-08-07 22:56] verzunof commented on #94
Travis,
The naming convention, generally is <prefix>_<entity_name>_<namespace>_<destination>.
Formation of entity_name and destination may be different for different cases.
For services destination is the same as entity because there is no real content switching, so, the first and second parts become the same.
We treated entity names creation as something internal with only requirement of avoiding

[2019-08-07 23:35] travissutton commented on #94
@verunof, overall I like the way you name them if you look at just the CS virtual server. Unfortunately, by the time you get to the 2nd layer you can get close to the 127 character limit. This leaves 63 characters before duplication. You'll lose 8 from this because `svc_` and `_svc` are both used. When you factor in the namespace (which `default` is probably a shorter one) and port, you are left w

[2019-08-08 02:50] bhardwajk commented on #94
@travissutton you've been invited to our slack workspace  https://citrixadccloudnative.slack.com on tr****@l*****7.com.

[2019-08-08 05:09] janraj commented on #94
@travissutton,  Please find my answer to your queries.
Issue 1) Repetition and longer name for entities.
               We will optimize this further.  We had to take such naming as Citrix Node Controller always makes sure the desired state of Kubernetes available in Citrix ADC without having any cache at Citrix Ingress controller.  We could make Citrix Ingress Controller is stateless because of s

[2019-09-30 18:32] #4 closed

[2019-11-04 09:19] Saravanakumar2016 commented on #4
HI @simongottschlag,

   Please consider the below solution for using CIC for Citrix HA INC mode on Azure cloud

![image](https://user-images.githubusercontent.com/20974157/68109812-8442ad80-ff11-11e9-886d-14c58f767580.png)

Follow the below steps:
1) A new private ALB should be added to the resource group
2) A new private frontend IP on ALB should be used by CIC as NSIP
3) The backend IPs for ALB

[2020-01-13 14:32] steviestainz opened #166 "Working external ADC VPX in 'tier 1' configuration results in permanent ingress 'Initializing' state"
NB It is assumed that CIC 1.x (tested 1.5.x and 1.6.1) supports deployment on Rancher created clusters due to the documentation [here](https://developer-docs.citrix.com/projects/citrix-k8s-ingress-controller/en/latest/deploy/deploy-cic-rancher/) but in the event that it isn't this issue in particular relates to Rancher 2.3.3 and Rancher 2.3.4 RC8 for vSphere built clusters.

I am trying to build a

[2020-01-14 06:46] aroraharsh23 commented on #166
For consuming ingress, IP address can be provided as annotation. This is an optional field and CIC can consume ingress without IP as well (in specific cases). So, CIC doesn’t mandate that every ingress must have IP address.
So, This is an expected behaviour with CIC deployment.

Also, Your understanding is correct with respect to Rancher behaviour, that it appears too stringent around the requirem

[2020-01-14 08:33] steviestainz commented on #166
Thank you for your comment, are you referring to `ingress.citrix.com/frontend-ip` in your comment about using an IP address as an annotation? I have defined this annotation within the ingress itself and it results in an empty status entry:

[code]
If this is the annotation you referred to why isn't it being added to the load balancer IP address of status? Please let me know if the annotation is in

[2020-01-14 11:39] aroraharsh23 commented on #166
Hi, No, "ingress.citrix.com/frontend-ip" will not be applicable here.
Can we please discuss this on our slack channel. Please refer:
https://github.com/citrix/citrix-k8s-ingress-controller#participate
Let us know, if any issue in issue in participating.

[2020-01-14 23:23] verzunof commented on #166
Yes, IP from annotation is not transferred to the status for ingress. Is this required for some functionality?

Thanks

From: Steve Walker <notifications@github.com>
Reply-To: citrix/citrix-k8s-ingress-controller <reply@reply.github.com>
Date: Tuesday, January 14, 2020 at 12:33 AM
To: citrix/citrix-k8s-ingress-controller <citrix-k8s-ingress-controller@noreply.github.com>
Cc: Subscribed <subscribed

[2020-02-11 10:27] pfyod commented on #166
This is a problem for Argo CD too, as it considers Ingress to be healthy if `status.loadBalancer.ingress` is not empty.

[2020-02-12 04:14] janrajc commented on #166
@pfyod, @steviestainz  We understood the problem of being not updating the status field of ingress object. We are working on it and will provide the fix soon. I will update here once new CIC with a fix is ready. Thanks for letting us know the issue and its importance.

[2020-02-21 20:28] maroshi commented on #166
See more problem reconstruction [report](https://github.com/rancher/rancher/issues/16172#issuecomment-588981030).

[2020-04-03 11:07] andy812 opened #219 "ERROR: No pool for csvs"
I tried to deploy HTTPS web application on Kubernetes with the Citrix ingress controller and Let`s Encrypt using cert-manager using this [documentation](https://developer-docs.citrix.com/projects/citrix-k8s-ingress-controller/en/latest/certificate-management/acme/)
My Ingress manifest:
[code]
Then i can sussessfully access **http**://example.dev/, but not **https**://example.dev/
I use citrix-k8s-

[2020-04-04 12:16] vsavostyanov opened #220 "Do not support "-" in the rewritepolicy name definition"
When i use "-" symbol in rewritepolicy name definition, i've got the following error:
ERROR - [rewritepolicy.py:validate_add:179] (MainThread) CRD name nexus-sonatype-nexus can't contain "-"
The "-" symbol use by default in all helm charts

[2020-04-04 18:24] Saravanakumar2016 commented on #220
We do not support '-' within the rewrite CRD policy name, due to Citrix ADC incapability of not supporting '-' in its policy names

Also, please help in providing the helm chart links which uses hyphen '-' as an option. We can help in providing a solution for the helm chart issues

[2020-04-06 12:39] andy812 commented on #219
Fixed

[2020-04-06 12:39] #219 closed

[2020-04-06 12:50] vintury commented on #219
it seems that CS server entity seems to be already existing which is causing CIC to fail configuring on port 443.
Please change ip or port to free.

[2020-04-14 13:00] mirkan opened #224 "ERROR - Cound't find lb app **** in configured apps"
Hi,

Netscaler can't add lb servers to service_group. The following errors occurs for each pod in citrix-ingress-controller pod:
`ERROR - [kubernetes.py:configure_cpx_from_endpoints_event:3239] (MainThread) Cound't find lb app b23-mattermost_default_8065_dep_mattermost in configured apps`

This is the first time we see this error. According to the logs it manages to go through every other svc/work

[2020-04-14 19:08] RaveendraHolla commented on #224
Hi,
Can you tell me which CIC version you are running and full CIC log and CIC definition yaml (mask ips/passwords etc). was it working before any recent upgrade?

[2020-04-15 07:53] mirkan commented on #224
Version 1.7.6
It has not worked before for this particular deployment no, and we have not done any upgrades recently.
The ingress-controller is deployed via helm-chart.

Helm-values.yml:
[code]

Deployment: yaml
[code]
log:
https://gist.github.com/mirkan/27e9a3f8fa780af4c7c3c4a114034cdb

[2020-04-15 09:58] mirkan commented on #224
I might have found something that differs between a working setup.

Working service.yml:
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/instance: mattermost
    app.kubernetes.io/managed-by: Helm
    app.kubernetes.io/name: mattermost-enterprise-edition
    helm.sh/chart: mattermost-enterprise-edition-1.1.1
  name: mattermost-mattermost-enterprise-

[2020-04-16 10:26] ankits123 commented on #224
Hi , @mirkan

Thanks for notifying .
We are looking into the issue.

[2020-04-19 05:36] RaveendraHolla commented on #224
Hi @mirkan
Thanks for your pointed observation. We have a problem with the port-names. I reproduced the issue now. I will work on the fix and update you back.

[2020-04-20 06:39] mirkan commented on #224
Great to hear you found the issue. Looking forward to try out the fix.

[2020-05-27 07:14] andreasottosson opened #243 "Broken link in readme"
The link to your Slack channel in the repo is broken.

Citrix ADC Cloud Native Slack channel [https://github.com/citrix/citrix-k8s-ingress-controller/blob/master/citrixadccloudnative.slack.com]

should be

Citrix ADC Cloud Native Slack channel [https://citrixadccloudnative.slack.com]

/Andreas

[2020-05-27 08:39] kpsmuthu commented on #243
Hi, Thanks. Fixed it now.

[2020-05-27 08:39] #243 closed

[2020-05-27 20:54] BenB196 opened #244 "Ingress Doesn't Finish Initializing on Rancher App Deployment"
**Describe the bug**
When deploying a new App on Rancher, ingress using the Citrix Ingress Controller never finishes initializing.

**To Reproduce**
1. Install Citrix Ingress Controller via helm v3 (Template 1.8.19) as an App on Rancher
    1. Installed under the System Project, in the namespace: citrix-ingress-controller
    2. Using VPX
    3. Rancher cluster is using flannel, Host Gateway (L2Br

[2020-05-28 15:34] BenB196 commented on #244
These were the instructions followed for setting up the prerequisites in case it helps: https://github.com/citrix/citrix-helm-charts/tree/master/citrix-ingress-controller

[2020-05-28 19:56] verzunof commented on #244
BenB196,
First thing I have noticed is that controller is configured to accept ingresses of class citrix.
But grafana ingress does not carry this class.
Insert annotation kubernetes.io/ingress.class into grafana ingress with the value "citrix":

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  creationTimestamp: "2020-05-27T20:40:31Z"
  generation: 1
  labels:
    app: grafana
    chart: g

[2020-05-28 20:04] BenB196 commented on #244
@verzunof I added the ingress.class annotation, but got the same result. I don't believe that this part really matters since the CIC is the only point of ingress, and thus will also be selected for a blank (default) ingress class.

[2020-05-28 20:27] verzunof commented on #244
@BenB196 This part matters. Can you supply controller log from after adding annotation, please?

[2020-05-28 20:52] BenB196 commented on #244
@verzunof here is the complete log of the redeployment with the annotation being set.
[grafana_redeployment_with_citrix_annotation.log](https://github.com/citrix/citrix-k8s-ingress-controller/files/4698193/grafana_redeployment_with_citrix_annotation.log)

Also here is the updated YAML files:

Ingress:

[code]

Service:

[code]

Deployment:

[code]

[2020-05-28 22:03] verzunof commented on #244
@BenB196 Thanks you for the logs, that was very helpful. If possible, can I get the output of
"sh cs vserver" from VPX?

[2020-05-28 23:25] BenB196 commented on #244
@verzunof I ran the command
[code]
and nothing was listed for 192.168.240.27:80

I know that this IP 192.168.240.27 does have an inactive configuration on port 80, is this potentially the issue?

The VPX has other configs on it so it can't be cleared.

[2020-05-28 23:43] verzunof commented on #244
Ok, thank you.
Would it be possible to provide output of "sh running" from VPX?

[2020-05-29 16:09] warroyo opened #245 "ability to customize vip,service group and server names."
is there currently the ability to change the naming convention for the objects created in the ADC or be able to specify a static name using an annotation?

I have looked at smart annotations but can't find a list of what is available for these

[2020-05-29 21:42] verzunof commented on #245
@warroyo No, there is no ability to change entity naming. All those names are auto generated based on resources that they represent, apart from cert keys that are cryptic due to ADC technical issues.
Some names may not fit into names length ADC restrictions, this is being worked on.

[2020-06-05 14:47] BenB196 commented on #244
I was able to fix this by switching to an unused VIP. Thanks

[2020-06-05 14:47] #244 closed

[2020-06-05 15:01] BenB196 opened #249 "Ability to Specify Frontend Profile when using Secure Backend profile"
**Is your feature request related to a problem? Please describe.**

Some of my configurations for content switch vservers require SNI to be enabled on the frontend and disabled on the backend.

Currently this is not possible.

By default, when using a backend profile, it will set the frontend profile to be ns_default_ssl_profile_frontend which does not have SNI enabled

**Describe the solution you

[2020-06-08 05:46] agrbhuvnesh commented on #249
Thanks for describing the issue in detail. Though, you may not need to enable sni on content switch vserver manually. You can instead use frontend config (with frontend-sslprofile) for the same context switch vserver.
please refer
https://github.com/citrix/citrix-k8s-ingress-controller/blob/master/docs/configure/profiles.md

With our current design, we decided to put frontend and backend config se

[2020-06-12 11:55] rongo89 opened #257 "Operator silently deletes resources of other clusters CRD's"
**Describe the bug**
We have a setup where we're running multiple k8s cluster, each with its own operator but accessing the same netscaler. There is for instance an rewritePolicy CRD defined for cluster A, but cluster B has no rewritePolicy CRD. What happens: operator of cluster B unbinds policy from service of cluster A and deletes policy after a while. This seems to happen *after* restart of the

[2020-06-15 06:26] RaveendraHolla commented on #257
@rongo89 I am looking in to it.

[2020-06-15 13:49] rongo89 commented on #257
sure.

the first ingress for port 443
[code]

the second ingress for port 80
[code]

the policy I want to have
[code]

The same happens if create LB via service with type loadbalancer. Only policy for one port created

[2020-06-16 03:13] RaveendraHolla commented on #257
@rongo89 I can see the issue in my testbed. Analysing now. Will update soon.

[2020-06-16 05:08] RaveendraHolla commented on #257
@rongo89 Got the root cause. Will push the fix in the next update. Work-around is to delete ingress and add again.

[2020-06-16 15:51] rongo89 commented on #257
thank you very much for the fast response, much appreciated @RaveendraHolla

[2020-06-22 07:54] cbunix opened #262 "Policy and VServer name length limitation (127 characters)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Yes, in our k8s environment we exceed always the name limitations of 127 characters for policy names and vservers, because ingress controller is settings it's name depending on the service name, etc. in k8s.
eg.: k8scadev-prometheus-operato

[2020-06-22 15:02] warroyo commented on #245
thanks @verzunof feel free to close this or keep it open until there is a fix

[2020-06-22 15:04] warroyo opened #263 "more flexibility in prefix"
currently the `NS_APPS_NAME_PREFIX` only supports alpha numeric chars. could this be expanded to include basic special chars like `_` this is a common character to use with a prefix.

[2020-06-23 16:38] citrixintern opened #267 "Tested"
[Provide your feedback here]

Docs URL:https://developer-docs.citrix.com/projects/citrix-k8s-ingress-controller/en/latest/

[2020-06-23 16:43] #267 closed

[2020-07-03 04:47] s012ja commented on #166
Is there any update on this issue?

[2020-07-03 23:33] verzunof commented on #166
Ingress status should be filled now with standalone controller and external ADC.
controller should be started with "--update-ingress-status yes" argument.
sidecar deployment is not yet supported.

[2020-07-07 10:12] pfyod commented on #166
Is this already implemented in a published release?

[2020-07-07 11:10] kpsmuthu commented on #166
Hi.  Covered here https://github.com/citrix/citrix-k8s-ingress-controller/blob/master/docs/configure/ingress-classes.md#updating-the-ingress-status-for-the-ingress-resources-with-the-specified-ip-address

and release noted here: https://github.com/citrix/citrix-k8s-ingress-controller/releases/tag/1.8.19

[2020-07-07 11:39] pfyod commented on #166
@kpsmuthu @verzunof this issue should probably be closed then.

[2020-07-07 13:26] #166 closed

[2020-07-09 14:10] steviestainz commented on #166
I'm still able to reproduce this issue when using the following arguments within the CIC deployment yaml:

[code]
I updated to 1.18.19, deleted the deployment + pod then redeployed, still no difference in behaviour within Rancher. Has anyone else tested this successfully?

[2020-07-14 08:49] RaveendraHolla commented on #257
@rongo89 Fix now is available on CIC version 1.8.28.. Can you please verify this, so that I can close this Jira ticket.
https://github.com/citrix/citrix-k8s-ingress-controller/releases/tag/1.8.28

[2020-07-14 23:30] verzunof commented on #166
@steviestainz Can you confirm whether status is updated or not  in the ingress resource with the CIC started this way?

[2020-07-15 13:54] steviestainz commented on #166
Sorry for the delay, my Rancher cluster was down for maintenance and it took me a while to spin up a new environment for validation. I've tested with CIC 1.8.19 and Rancher 2.4.5 which are both the latest versions of both solutions.

@verzunof - yes, the problem in Rancher is caused by the absence of the:

`  status:
    loadBalancer: {}`

entry when the ingress is created successfully by Citrix i

[2020-07-15 22:27] verzunof commented on #166
It might be if cluster role attached to the SA of CIC does not have proper permissions. We have slack channel, where we can discuss further. Can you post the cluster role in slack channel.

[2020-07-16 08:37] andy812 opened #274 "[customresourcecontroller.py:stop_crd_thread:137] (MainThread) Exception during stopping watch on CRD.('NoneType' object has no attribute 'isAlive')"
CIC doesn't create new balancing rules in ADC after ingress deployment. Previously created ingresses works.
We use quay.io/citrix/citrix-k8s-ingress-controller:**1.7.46**, but we've got the same problem withe the last version.
Logs:
[code]
As i see in the code, cic try to call **configure_cpx_for_all_apps** function, get an exception, than try to execute **reinit_kubernetes**. It calls **stop_crd_

[2020-07-16 09:19] andy812 commented on #274
We fixed the problem. Kubernetes services with LoadBalancer type breaks the CIC.

[2020-07-20 12:42] rongo89 commented on #257
problem solved

[2020-07-20 12:42] #257 closed

[2020-07-28 10:12] steviestainz commented on #166
@verzunof - Many thanks for your assistance via Slack. I now have a working CIC ingress reporting correctly in Rancher after altering the NetScaler command policy from 'superuser' to 'sysadmin'. I had previously used the example command policy for the CIC user but it was not sufficient for NS13, so I switched to 'superuser'. However it seems that this did not have sufficient access to the events,

[2020-08-24 12:20] mirkan commented on #224
Hey!
@RaveendraHolla @ankits123 did you make any progress on this?

[2020-08-25 19:14] verzunof commented on #166
Steve, I missed this email, since slack discussion went silent.
For /events request not failing, appropriate additions to RBAC needs to be done to allow CIC CA access to post /events. I can provide required changes if needed.

[2020-09-09 06:23] ankits123 commented on #249
already supported : https://github.com/citrix/citrix-k8s-ingress-controller/blob/master/docs/configure/profiles.md

[2020-09-09 06:23] #249 closed

[2020-09-09 16:04] RaveendraHolla commented on #274
Issue with targetRef is fixed in latest CIC version. Can you try and update.

CIC version 1.9.9: quay.io/citrix/citrix-k8s-ingress-controller:1.9.9
RBAC and CIC Yaml can be fetched from following path:
https://raw.githubusercontent.com/citrix/citrix-k8s-ingress-controller/master/deployment/baremetal/citrix-k8s-ingress-controller.yaml

[2020-09-09 16:05] RaveendraHolla commented on #274
Issue with targetRef is fixed in latest CIC version. Can you try and update.

CIC version 1.9.9: quay.io/citrix/citrix-k8s-ingress-controller:1.9.9
RBAC and CIC Yaml can be fetched from following path:
https://raw.githubusercontent.com/citrix/citrix-k8s-ingress-controller/master/deployment/baremetal/citrix-k8s-ingress-controller.yaml

[2020-09-11 05:11] #274 closed

[2020-09-11 05:12] ankits123 commented on #274
Fix available in latest build.

[2020-09-17 13:31] BenB196 opened #304 "Deleting an Ingress config with Monitoring, doesn't delete the monitor on ADC"
**Describe the bug**
When you delete the ingress from Kubernetes that has a monitor definition, everything but the monitor gets deleted from the ADC. The monitor is left behind and not bound to anything

**To Reproduce**
1. Steps
-  Create ingress with monitor definition like:
[code]
- Wait for ingress to be built on ADC
- Delete ingress
- Everything but the monitor is deleted, and monitor is left

[2020-10-09 20:06] BenB196 opened #313 "Ingress Control Tries to Update Monitor with incorrect Key name"
**Describe the bug**
When trying to update a Citrix monitor via the ingress controller, it passes the param, name instead of monitorname.

**To Reproduce**
1. Steps
- Create a monitor via the ingress controller:
[code]
- Try to update the monitor
- Get the following error output:

[code]

The offending log:

[code]

The value is valid according to: https://developer-docs.citrix.com/projects/netsca

[2020-10-12 05:29] kumar-swamy commented on #313
@BenB196 Thanks and appreciate for this information.
I had a look at the code, and it is an incorrect but harmless log message. We're correctly using monitorname for creating/deleting the monitor. We'll address this log issue in next release.

[2020-10-12 05:32] kumar-swamy commented on #224
Currently port name is being supported with 1.9.20 version of Citrix ingress Controller.

[2020-10-12 12:52] BenB196 commented on #313
@kumar-swamy I don't believe its just a log error though, as the actual monitor on the VPX end does not get updated, unless you're saying that the log error prevents the update from occurring?

[2020-10-14 17:39] BenB196 commented on #313
@kumar-swamy if I change retries from 20 to 15, it will stay at 20. In the below annotation.

[code]

[2020-10-14 20:29] BenB196 opened #316 "Layer 4 LB Not Created: Nitro Exception::configure_services::errorcode=258,message=No such resource"
**Describe the bug**
Get the following error when trying to create a Layer 4 LB:

[code]

**To Reproduce**
1. Steps
- Create a layer 4 LB
[code]
- Get the following error:

[code]
2. Version of the Citrix Ingress Controller: 1.9.20
3. Version of MPX/VPX/CPX: VPX NS12.0: Build 63.21.nc
4. Environment variables (minus secrets)
[code]

**Expected behavior**
I would expect a Layer 4 LB to be created,

[2020-10-15 08:59] a-dawg opened #317 "openshift 4.5 operator"
**Describe the bug**
I am not able to install the citrix ingress controller operator (from the operatorhub) in openshift 4.5

**To Reproduce**
1. Steps: https://developer-docs.citrix.com/projects/citrix-k8s-ingress-controller/en/latest/deploy/deploy-cic-openshift-operator/
2. Version of the Citrix Ingress Controller: 1.7.6
3. Version of MPX/VPX/CPX: VPX v12

**Expected behavior**
Operator should i

[2020-10-21 15:30] BenB196 commented on #316
Anyone have any ideas on this? There is no clear issue here.

[2020-10-23 08:13] kumar-swamy commented on #316
@BenB196 I couldn't reproduce the issue in my local setup, and I see that configurations in ADC- CS vserver, LB vserver and Service group is getting created successfully.
Could you confirm that there is no configurations getting created in ADC for the specified type LB service?
Is it possible to share the entire log file after deleting and readding the service?

[2020-10-23 09:57] kumar-swamy commented on #313
We have identified the issue and this will be fixed in the upcoming release.

[2020-10-23 19:21] BenB196 commented on #316
@kumar-swamy I do not see anything actually being created within the ADC for the specified type LB service.

Quick note: the VPX is now version NS13.0 67.39.nc as NS12 is EOL soon

Initial Creation Logs:

[code]

Deletion Logs:

[code]

[2020-11-04 12:02] kumar-swamy commented on #313
This is fixed in 1.10.2

[2020-11-04 12:03] kumar-swamy commented on #304
Fixed in 1.10.2

[2020-11-05 15:58] BenB196 commented on #313
I've verified that this is now working in 1.10.2. Thanks for the help.

[2020-11-05 15:58] #313 closed

[2020-11-05 15:59] BenB196 commented on #304
I've verified that this is now working in 1.10.2. Thanks for the help

[2020-11-05 15:59] #304 closed

[2020-11-24 16:07] andy812 opened #337 "JSON logs for CIC"
Many companies use Elasticsearch/Logstash/Kibana to store and query logs. If CIC logs will be in JSON, it will be much more easier to collect and parse them, because JSON data is structured.

Please, add support of JSON stdout/stderr logs.

[2020-12-14 06:30] raphael1688 opened #351 "Steps of manually created route got null value in podNetwork and incorrect podNetwork subnet masks appended to gateway IP"
**Describe the bug**
No value returned in podNetwork and the wrong subnet mask as we use CNI Calico.

**To Reproduce**
1. Steps:
`# kubectl get nodes -o jsonpath="{range .items[*]}{'podNetwork: '}{.metadata.annotations.projectcalico\.org/IPv4IPIPTunnelAddr}{'\tgateway: '}{.metadata.annotations.projectcalico\.org/IPv4Address}{'\n'}"`

https://github.com/citrix/citrix-k8s-ingress-controller/blob/mas

[2020-12-14 06:48] raphael1688 opened #352 "Have server IP in NS serviceGroup be pod IPs as kind: service type: loadBalancer configured"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**
I would like to have N-S traffic be forwarded to pods directly bypass nodeport(iptables/ipvs) as we create kind: service type: loadbalancer.

**Describe alternatives you've considered**
There is one new spec in K8S 1.20, allocateLoadBalancerNodePorts: false, which will let CIC just put pod I

[2020-12-15 07:16] raphael1688 opened #354 "type array or plural for spec.validation.openAPIV3Schema.properties.spec.properties.vip in listener CRD"
**Describe the solution you'd like**

I would like to reduce the amount of ingress objects, because it consumes too much Citrix objects resource for per frontend ip per ingress rule if I need to deploy tens of thousands of cert/key among thousands of vips.

**Describe alternatives you've considered**
you may have listener crd support multiple vips per listener or let annotation ingress.citrix.com/

[2020-12-29 15:51] krisdevopsbot opened #356 "permanent ingress 'Initializing' state"
https://github.com/citrix/citrix-k8s-ingress-controller/issues/166#issuecomment-653695646

Was support ever added for sidecar deployments to handle rancher ingress status?

[2020-12-30 05:29] christus02 commented on #356
Could you explain on how the sidecar deployment is exposed?
In the upcoming releases, we would support ingress status update for sidecar deployments when it is exposed with a service of Type=LoadBalancer.

[2021-02-04 19:30] BenB196 opened #375 "Load Balancing Servers Not Cleaned Up"
**Describe the bug**
When you add an Ingress via the Ingress Controller, the controller will add the pod's IP(s) as servers under: Traffic Management -> Load Balancing -> Servers. These servers are not deleted when the pod changes IPs. This causes the list of servers to grow massively, even if most of them aren't in use.

**To Reproduce**
1. Steps
    1. Add an ingress via Ingress controller
    2

[2021-02-17 15:18] BenB196 commented on #375
Anyone got any ideas for this issue?

[2021-02-17 16:53] kumar-swamy commented on #351
This has been addressed in release 1.13.15.

[2021-02-17 16:55] kumar-swamy commented on #352
Now there is a configmap/environment variable POD_IPS_FOR_SERVICEGROUP_MEMBERS which controls whether NodeIP:NodePort or PodIP:PodPort to be added as server IP. This is relased in 1.13.15

[2021-02-17 16:58] kumar-swamy commented on #375
This is a known issue due to Citrix ADC behaviour of not deleting the Server Entry when Service group member binding is cleaned up.  Since the server entries can be shared across multiple service groups, CIC is not attempting to delete them. But we're aware of the issue and looking for alternate solutions so as to clean up the server entries when they are no longer needed.

[2021-02-17 17:17] BenB196 commented on #375
@kumar-swamy thank you for the update.

[2021-03-02 13:35] jbSyTech opened #379 "Smart annotation for SSL-Profile not working"
I try to use frontend-sslprofile annotation for an ingress resources but the annotation seams not be honored.

The ingress controller has following settings:
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  annotations:
    kubernetes.io/ingress.class: citrix
    ingress.citrix.com/frontend-ip: <public frontend ip>
    ingress.citrix.com/insecure-termination: redirect
    ingress.citri

[2021-03-02 16:10] kumar-swamy commented on #379
All the frontend profiles are honoured only if specified as part of the frontend-ingress. CIC considers an ingress as a frontend-ingress if spec.rules are not populated. So you need to create another ingress without 'backend' to specify the frontend SSL profile as shown below.

apiVersion: networking.k8s.io/v1
 kind: Ingress
 metadata:
   name: frontend-ingress
   annotations:
     kubernetes.io/i

[2021-03-31 09:30] matthyx commented on #262
Maybe the ingress controller should shorten the name if it exceeds a limit on the netscaler side?

[2021-03-31 16:55] kumar-swamy commented on #262
Recent releases have addressed this issue.

[2021-03-31 17:49] chiradeep commented on #262
fixed in https://github.com/citrix/citrix-k8s-ingress-controller/releases/tag/1.12.2

[2021-04-01 05:13] matthyx commented on #262
Thanks for the update @chiradeep and @kumar-swamy so I guess this issue can be closed?

[2021-04-01 15:51] chiradeep commented on #262
Yes, will close.

[2021-04-27 09:07] Gururajnrao opened #394 "Incorrect examples and IP in the below doc"
The section "Expose services of type LoadBalancer with IP addresses assigned by the IPAM controller¶" and the "Expose services of type LoadBalancer by specifying an IP address¶" seem to have conflicting examples. The first one probably need to have "loadBalancerIP: " " (i.e blank) to get allocated through IPAM and second one should have the  explicit IP (as already specified).

Secondly, 110.217.2

[2021-05-03 08:02] marratj opened #401 "Helm release installation failing if `entityPrefix` is a numeric value"
**Describe the bug**
The Helm chart is not explicitely quoting env var values in the Deployment template. This leads to the Helm release installation failing when one of the values is a purely numeric "string" (in our case `entityPrefix` -> `NS_APPS_NAME_PREFIX`)

**To Reproduce**
1. Steps
--> set `entityPrefix` to a purely numeric value during installation of the Helm release

2. Version of the C

[2021-05-11 14:00] lhw opened #409 "IPAM / Ingress Controller keep deleting each others VIPs causing service disruptions"
**Describe the bug**
An address allocated for a loadbalancer will be created and deleted dozens of times a second by the interaction between the ipam and ingress controller

**To Reproduce**
1. Add service with loadbalancer type
2. Wait for provisioning
3. Chaos ensues

**Expected behavior**
- Not spam millions of lines of log and commands.
- Configure IP address.

And I almost consider the last p

[2021-05-11 14:00] lhw opened #410 "Misconfigured user ingress can cause hours of downtime for everyone"
**Describe the bug**
One misconfigured user ingress. i.e. same domain name in multiple namespaces causes reconfiguration of all ingresses including deletion of everything and downtime of potentially hours in cases with more than a few dozen ingresses total.

**To Reproduce**
1. Deploy the same ingress to two different namespaces
2. Logging of cic goes up to the millions of lines in hours as every

[2021-05-11 14:06] lhw opened #411 "Certificates including the same DNS name causes massive log and command spam"
**Describe the bug**
When two ingresses managed by the same cic contain the same DNS names the cic will try to upload both and fail. It will retry after around 20ms. Causing millions of lines of log spam on kubernetes and on the ADC

**To Reproduce**
1. Create two ingresses with the same DNS name in the tls certificate
2. Notice massive log spam
3. Goto #410

**Expected behavior**
Just ignore or s

[2021-05-11 14:09] lhw opened #412 "Errors in CRD syntax causes major log and command spam"
**Describe the bug**
In case a CRD (i.e. Rewrite) is deployed with a mistake the cic will retry the resource every 10-20ms.

**To Reproduce**
1. Deploy CRD with invalid rule content
2. Log/Command spam
3. Goto #410

**Expected behavior**
Not that

**Logs**
kubectl logs https://gist.github.com/lhw/451afcb0db413026d2c31df48a2d7dff

**Additional context**
Same as the others

[2021-05-12 08:42] ankits123 commented on #410
@apoorva-05 @RaveendraHolla Can you please have look ...

[2021-05-12 10:04] lhw opened #413 "Reconfiguration time on restart scales badly with number of ingresses"
**Describe the bug**
In case the cic crashes or gets shut down i.e. during an update the reconfiguration time seems to take an extraordinary amount of time scaling with the amount of ingresses attached to it. 10-20 ingresses require around a minute and 110 ingresses around 90 minutes. Now with closer to 150 ingresses we are at close to two hours.

As in case the configuration wasn't "synced" durin

[2021-05-12 10:49] RaveendraHolla commented on #412
Hi,

status updates causes this issue. A failure, followed by a status update back to CRD and further updates. We reproduced this issue. Will fix it in the coming release. One possible Work-around is to revoke permissions on "rewritepolicies/status". This will not allow CIC to update the status and then it will stop recursive calls.

[2021-05-12 12:35] ankits123 commented on #411
@lhw  Thanks for the logs . We are going through it and update on RCA.

[2021-05-12 12:39] apoorva-05 commented on #409
@lhw We are trying to reproduce and find the root cause the issue. We will get back to you on this.

[2021-05-12 13:21] RaveendraHolla commented on #410
Here many ingresses are using same frontend-ip, which means many ingresses sit behind same cs vserver. Even if there is change in one ingress it is triggering reconfiguration for all ingresses which are using same front-end ip. We are optimising that logic and will target for the next release.

[2021-05-18 12:53] chifu1234 opened #417 "[Feature] Traffic Domain"
**Is your feature request related to a problem? Please describe.**
Currently we use traffic domain to split traffic between multiple customers, for our none k8s environments. We still have to split the traffic via traffic domain for each customer with citrix-k8s-ingress-controller.

**Describe the solution you'd like**
A ENV Value which defines the Traffic Domain which should be used on the citrix

[2021-05-20 06:27] apoorva-05 commented on #409
@lhw unfortunately we were not able to reproduce this issue. We would want some more details about this issue from you.
1. Is it possible for you to share the IPAM logs during this duration.
2. Is this the complete CIC log during the given timeframe or is it filtered?
3. If you still have the VIP CRD resource in your cluster can that be shared.
[code]

[2021-05-25 09:59] lhw commented on #409
I recreated the issue for you:

Here the complete log for the time period: https://gist.github.com/lhw/3e998cda187c17ce8bd08ef3ebf1e09d under cic.log. Luckily only around 1900 lines for the minute.

It wasn't filtered. The gist link also includes the cic-ipam.log

The gist link also contains the vip yaml that i was able to grasp before it was deleted again.

[2021-05-25 11:39] apoorva-05 commented on #409
@lhw is it possible to provide the type loadbalancer service definition too?

[2021-05-25 11:53] apoorva-05 commented on #409
@lhw Just clarifying a few things:
1. Is there only one instance of Citrix Ingress Controller and IPAM running in the cluster?
2. Highly unlikely, but is there a daemon process or workload monitor which might be deleting the VIP resources created by the ingress controller in the kube-system namespace?

[2021-05-25 12:07] lhw commented on #409
The issue is present on two clusters. But all clusters we have do have more than one ingress controller. The one from the log has three: The helm values for all three are here: https://gist.github.com/lhw/5a2c52260620ef6f4106b4a7f75417cb each has its own service-class though.

Only cic roles have access to the vips. So nothing else can touch the resource. But no. There is no additional tool intera

[2021-05-25 12:14] lhw commented on #409
As you were pointing out the other cics. Here is the log of the other CICs from the same time period. https://gist.github.com/lhw/7b9f2e2a2b0992317c1f37155060f9e4

They seem to be reacting to the service even though the service class does not match their supplied value.

[2021-05-25 12:57] lhw commented on #409
After disabling the ipam feature on both the `extern` and `extern-fbt` cics it works now. So it looks like the cics seem to be ignoring the service-class.

[2021-05-25 13:01] apoorva-05 commented on #409
@lhw Thanks a lot for all the information. we know the root cause now. This will be fixed in the next release.

[2021-05-27 06:23] #262 closed

[2021-05-27 06:52] sreejithgs commented on #394
This issue is fixed. See the following link:

https://github.com/citrix/citrix-k8s-ingress-controller/blob/master/docs/network/type_loadbalancer.md

[2021-05-27 06:52] #394 closed

[2021-06-17 13:52] #410 closed

[2021-06-17 13:52] #411 closed

[2021-06-17 13:52] #412 closed

[2021-06-17 13:53] #413 closed

[2021-06-17 13:53] #409 closed, assigned to nobody

[2021-06-21 11:28] lhw opened #435 "On CIC startup not all existing certificates will be added to the ADC"
**Describe the bug**
On startup the CIC cleans up all existing certificates on the CIC and re-adds the ones it assumes to be required. But it seems to miss around 1/4 of all certificates or more. After refreshing any of the certificates, already added or not, the CIC will notice the missing ones and upload all certificates fixing the issue. But will lose them again on the next restart.

Minor down

[2021-06-21 11:33] lhw opened #436 "Not all CRDs are uploaded to CIC after 1.15 update"
**Describe the bug**
When updating vom 1.14.17 to .15.12 some, but not all, Rewrite CRDs weren't uploaded to the ADC. They were present before the update but missing after. Re-creating the CRD did fix the issue. But it has do be done for every single CRD, unlike #435 were one update fixes all.

**To Reproduce**
1. Update CIC to 1.15
2. Notice missing Rewrite CRDs
3. Re-create missing CRDs
4. CRDs

[2021-06-22 05:20] kanhpatel opened #437 "NS_APPS_NAME_PREFIX is not working when we set prefix "k8s" for two VIPs, need to fix"
Hi Citrix Team,

I tested Workload VIP prefix “k8s” on two clusters but getting some weird behavior, when I apply ingress and ipam for a cluster it works and when applied the same prefix on other cluster VIP with name prefix “k8s”, the previous cluster VIP got deleted automatically. We tried to use the latest IPAM and Ingress docker image to citrix-k8s-ingress-controller:1.15.12 & citrix-ipam-cont

[2021-06-22 06:46] ankits123 commented on #437
Hi @kanhpatel ,
If i understand it correct the same ADC is front ending 2 kubernetes clusters and there are 2 CIC's configuring ADC invidually.
For such scenario we have given the NS_APPS_NAME_PREFIX and it should be unique(e.g k8s1 , k8s2) in case if there are multiple CIC's configuring the ADC so that they can uniquely identify which ingress they are managing.
If the use the same value for both

[2021-06-22 07:01] kanhpatel commented on #437
Thank you so much Ankit for your prompt reply.

[2021-06-22 07:04] kanhpatel commented on #437
We already use in form of k8s1 and k8s2, and it's working fine, but this time our requirement was to use the same k8s for all VIPs.

[2021-06-22 07:19] ankits123 commented on #437
Thanks @kanhpatel for the clarification but having unique prefix values is mandatory for the reason i mentioned above.

[2021-06-22 12:48] lhw commented on #435
With our current list of ingresses this tls upload procedure can take quite a while. Currently it seems to upload only every 5 seconds if I see this correctly. So with all the missing TLS resources it adds up to around 5 mins after the refresh is kicked off. As can be seen in the log below. Which means around five minutes of downtime _after_ somebody noticed that the CIC was restarted.

[code]

[2021-06-22 15:59] ankits123 commented on #435
@lhw Hi Lennart We are working on the fix. We will release the fix soon.
CC : @kumar-swamy

[2021-06-30 14:54] sjoneill opened #445 "Crashloops - exec user process caused: exec format error"
Seeing this error when trying to deploy CIC on a ARMv7 CPU architecture in a lab environment.
From my research I've found other ingress controllers experienced similar issues. And it was found the ingress images were incompatible with arm architecture.

`kubectl get pod cic-k8s-ingress-controller-6f99f7d6d5-44ps6
NAME                                          READY   STATUS             RESTARTS   A

[2021-07-12 10:43] #437 closed

[2021-07-15 10:32] lhw commented on #435
Fixed in 1.16.9

[2021-07-15 10:32] #435 closed

[2021-07-15 10:32] lhw commented on #436
Seems to be fixed in 1.16.9. Have not noticed a re-occurrence

[2021-07-15 10:32] #436 closed

[2021-09-04 09:14] camilamacedo86 opened #463 "Operator projects using the removed APIs in k8s 1.22 requires changes"
### Problem Description

Kubernetes has been deprecating API(s), which will be removed and are no longer available in 1.22. Operators projects using [these APIs](https://kubernetes.io/docs/reference/using-api/deprecation-guide/#v1-22) versions will **not** work on Kubernetes 1.22 or any cluster vendor using this Kubernetes version(1.22), such as OpenShift 4.9+. Following the APIs that are most lik

[2021-09-22 05:40] ankits123 commented on #379
Closing the issue for now .. If suggested approch doesn't work please re-open the issue.

[2021-09-22 05:40] #379 closed

[2021-09-22 05:42] ankits123 commented on #356
@krisdevopsbot can you please try out the latest CIC and let us know.
Also Are we givving ClusterIP as Frontend IP annotation.

[2021-09-22 05:43] ankits123 commented on #354
Thanks @raphael1688 We will try to look in this enhancement and update.

[2021-09-22 05:52] #351 closed

[2021-09-22 05:52] ankits123 commented on #351
closing the issue as fixed in 1.13.15.

[2021-09-22 05:53] #245 closed

[2021-09-22 05:53] ankits123 commented on #245
closing the issue as this is expected behavior.

[2021-09-22 05:54] #224 closed

[2021-09-22 05:54] ankits123 commented on #224
closing the issue.

[2021-09-22 06:25] ankits123 commented on #337
Thanks for the enhancment.We have discussed it internally.
We are tracking it.

[2021-09-22 06:28] #220 closed

[2021-09-22 06:32] ankits123 commented on #94
We have optimized the naming convention keeping in mind to support large k8s entity names.
Please refer the latest CIC release.
The saveconfig behavior has already been clarified above . For k8s since desired state is in kubernetes so saveconfig don't much sense.

[2021-09-22 06:32] #94 closed

[2021-09-22 06:35] #352 closed

[2021-09-23 06:19] ankits123 commented on #316
Similar issue has been fixed .
Please use the latest CIC build.
Closing the issue for now . Please re-open if seen with latest build.

[2021-09-23 06:19] #316 closed

[2021-09-23 12:19] ankits123 commented on #417
Hi @chifu1234 Traffic domain feature has been deprecated in ADC and no new enhancement are coming in that area .
We have support of admin partition in CIC.

[2021-09-23 12:19] #417 closed

[2021-09-23 12:23] ankits123 commented on #356
@krisdevopsbot Please let me know if if you are still facing the issue.
The fix is available in latest CIC.

[2021-09-23 12:23] #356 closed

[2021-09-23 13:37] kumar-swamy commented on #354
Listener CRD accepts multiple VIPs as part of ipset. Closing the issue

[2021-09-23 13:37] #354 closed

[2021-09-24 03:43] ankits123 commented on #445
Yes that's right .Ingress image is incompatible with arm architecture.

[2021-09-24 06:23] mayurmohanpatil commented on #317
Hello @a-dawg,
Will you please provide your contact details on AppModernization@citrite.net
We would like to assist you further for your use case.

Regards,
Mayur

[2021-09-24 06:24] mayurmohanpatil commented on #337
Hello @andy812,
Will you please provide your contact details on AppModernization@citrite.net
We would like to assist you further for your use case.

Regards,
Mayur

[2021-09-24 06:26] mayurmohanpatil commented on #375
Hello @BenB196 ,
Will you please provide your contact details on AppModernization@citrite.net
We would like to assist you further for your use case.

Regards,
Mayur

[2021-10-05 04:59] mayurmohanpatil commented on #445
Hello @sjoneill we would like to understand your use case for further assistance.
Can we please add your inputs on AppModernization@citrite.net

[2021-10-08 07:10] priyankash-citrix commented on #463
@camilamacedo86 We are in process of updating our operators to it latest version. We were not able to update in last 2 days because of outrage in operator pipeline: https://dn6mqn7xvzz3.statuspage.io. We are trying again today.

[2021-11-04 12:04] olljanat opened #485 "Ingress controller sources codes are missing"
**Describe the bug**
This repository promotes to contain Citrix ingress controller which is supposed to be released with Apache License 2.0.

However in reality it currently only contains deployment files. Not the actual sources codes which are used to build images on https://quay.io/repository/citrix/citrix-k8s-ingress-controller?tab=tags

Technically ingress controller looks to be implemented wi

[2022-01-05 21:35] janlauber commented on #485
Had the same thought when debugging their scripts today.
Should definitely be visible for the whole community on GitHub.
Would appreciate it!

[2022-01-05 21:50] janlauber opened #510 "[BUG] loadbalancer IPAM ingress doesn't work"
Dear Citrix team

**Describe the bug**
When I configured the Citrix ingress controller as written in the documentation, there is no way my services will get the VIP configured in the IPAM controller.

**To Reproduce**
Deployed Helm Charts Manifests:
[code]
[code]
Testdeployment with service (from your docs):
[code]
[code]

**Expected behavior**
The service loadBalancerIP address should get configu

[2022-01-06 04:56] apoorvakamath commented on #510
@janlauber By any chance do you have more than 1 Citrix ingress controller running in the same cluster? Also, have you configured ```serviceclass``` value while bringing up the Ingress controller?

[2022-01-06 09:31] janlauber commented on #510
hey @apoorvakamath
no there is just 1 Citrix ingress controller running in this cluster.
also as you see in my helm chart deployment configuration, there is no `serviceClass`configured.

[2022-01-06 10:44] janlauber commented on #510
So I got it working without the IPAM Service. It works while adding some annotations to the service manifest:
[code]

[2022-01-06 10:44] #510 closed

[2022-01-06 10:44] janlauber commented on #510
ah and also I added the serviceClass `citrix` to the helm deployment of the citrix-ingress-controller

[2022-01-27 19:45] hashildy opened #512 "IPAM controller not assigning IP addresses"
Nothing in the logs to indicate that there is an issue, however, when changing a service to type 'Load Balancer', the External-IP sits at 'Pending' status and never changes. If I manually set an IP address in the service definition, then it will create the config on my tier1 ADC with the provided IP address. However, I want to deploy the IPAM controller so that IP addresses are allocated automatic

[2022-01-28 03:02] apoorva-05 commented on #512
@hashildy, how was the Citrix IPAM and Ingress Controller deployed, via the YAML manifests or helm charts?
1. If deployed manually using Yaml files can you update the IPAM image to the latest tag ```quay.io/citrix/citrix-ipam-controller:1.0.3```.
2. what is the output of the command ``` kubectl get vips --all-namespaces```. (This CRD is used by the IPAM controller and Ingress Controller to assign

[2022-02-01 23:13] hashildy commented on #512
Hi @apoorva-05 - thanks for the quick reply. I had actually deployed this using helm charts in conjunction with a yaml file for providing unique configuration details. The version I was deploying for the IPAM controller was 0.0.1 so I updated that to use version 1.0.3, however, I am still unable to get an IP address allocated from the IPAM controller.

The output of the command is: "No resources f

[2022-02-02 03:11] apoorva-05 commented on #512
@hashildy,
Is the Citrix ingress controller(CIC) deployed along with the Citrix IPAM controller? These work in conjunction to get the IP assigned to TypeLB k8s service.
If it's also deployed, can you share the values.yaml file used to deploy the Citrix Ingress controller and the service manifest YAML file used.

[2022-02-03 00:01] hashildy commented on #512
Hi @apoorva-05 -- yes, CIC is also deployed alongside the Citrix IPAM controller. Here is the values file I used during the deploy:

cic:
  enabled: true
  nsPort: 443
  nsProtocol: HTTPS
  ipam: true
  nsIP: 172.16.50.50
  adcCredentialSecret: adc-creds
  entityPrefix: k8s
  image: 'quay.io/citrix/citrix-k8s-ingress-controller:1.11.3'
  pullPolicy: IfNotPresent
  license:
    accept: 'Yes'
  logL

[2022-02-03 04:11] apoorva-05 commented on #512
@hashildy Will, you be able to update the Citrix Ingress Controller and the helm-charts to the latest?
You are currently using 1.11.3, it's been more than a year since this release. There have been quite a few bug fixes and enhancements that went around the area of IPAM.

[2022-02-03 16:43] hashildy commented on #512
Thank you @apoorva-05 -- using the latest version worked! Thanks so much for your assistance.
Can you please let me know if there is a way to reference the latest image without having to look up what that version is? Maybe an image tag? Thanks again fro your help.

[2022-02-04 05:30] apoorva-05 commented on #512
@hashildy "latest" tag like ```quay.io/citrix/citrix-k8s-ingress-controller:latest``` and ```quay.io/citrix/citrix-ipam-controller:latest``` will always point to the latest release,  does that help you?

[2022-02-04 22:19] hashildy commented on #512
That is perfect @apoorva-05 ! Thanks so much for all of your help on this. Closing this issue now.

[2022-02-04 22:19] #512 closed

[2022-03-21 14:00] gertzakis opened #523 "Annotations not working"
Hello there,

when i use annotations like  `ingress.citrix.com/lbvserver: '{"citrix-svc":{"lbmethod":"LEASTCONNECTION"}'` or `ingress.citrix.com/monitor` with value '{"citrix-svc":{"type":"http"}}' as per the official documentation it don't make the proper configuration. After reviewing the logs both on ADC & kubernetes, the API-call gets an ERROR response with message=No such resource.

**To Repr

[2022-03-21 14:56] kumar-swamy commented on #523
Key is your service name, not "citrix-svc". Every service of an ingress corresponds to an lbvserver and service group, so you need to specify the key as your service name. You can also specify multiple key values like {'key1': value1, 'key2': value2} if you have multiple services in an ingress.

[2022-03-21 15:22] gertzakis commented on #523
Hello @kumar-swamy,

oo thank you. Yes you are right, as soon i put the service-name as key it works. What about "Load balancer" service types though?
For example:
`service.citrix.com/service_type: "HTTP"
 service.citrix.com/lbmethod: "SRCIPDESTIPHASH"
 service.citrix.com/persistence: "SOURCEIP"`
I face a similar issue with lbmethod & persistence. Do you have any idea why this happens?

Thanks aga

[2022-03-30 06:15] Einbasaharan opened #525 "CIC Stucks on show lb vserver and its leads to ERROR: Connection limit to CFE exceeded"
Hi
Seeing this error when trying to deploy CIC on an MPX Load balancer, we are able to do pass the user permission test in Controller,
we are not able to FETCH NS-IP and show lb vserver via CIC. Our load balancer has approx ~14000 entries for vservers. probably parsing those many Vservers takes time and its leads to creating a lot of sessions in Netscaler ADC and CIC reports an error with the Conn

[2022-03-30 15:22] apoorva-05 commented on #525
@Einbasaharan,
1. What version of CIC are you using?
2. Do you have any cmdpolicy in place?
3. The  14000+ vservers are they all configured by CIC or does it include other manually configured vservers?
4. Can you share the output of ```show system session```

[2022-03-30 15:23] apoorva-05 commented on #523
@gertzakis can you share the complete service manifest yaml file that you are using?

[2022-03-31 05:29] Einbasaharan commented on #525
@apoorva-05

1. CIC Version :- 1.23.10
2. Yes we have a command policy in place.
3. those 14000 vservers are manually configured on Netsclaer.
[Nssessionlog.txt](https://github.com/citrix/citrix-k8s-ingress-controller/files/8386236/Nssessionlog.txt)

Attached show system session log file

[2022-03-31 05:36] apoorva-05 commented on #525
@Einbasaharan Can you please share the command policy.

We will try to reproduce this issue and get back to you.

[2022-03-31 06:22] Einbasaharan commented on #525
Command policy:
`show cmdPolicy cic-policy
Command policy: cic-policy 	Action: ALLOW
cmdspec: ^(?!shell)(?!sftp)(?!scp)(?!batch)(?!source)(?!.*superuser)(?!.*nsroot)(?!install)(?!show\s+system\s+(user|cmdPolicy|file))(?!(set|add|rm|create|export|kill)\s+system)(?!(unbind|bind)\s+system\s+(user|group))(?!diff\s+ns\s+config)(?!(set|unset|add|rm|bind|unbind|switch)\s+ns\s+partition).*|(^install\s*(wi

[2022-03-31 06:45] mayurmohanpatil commented on #525
@Einbasaharan we can discuss about your issue/deployment in detail over call.
Will it be possible for you to email us on AppModernization@citrite.net, otherwise we can use slack workspace for better connect.

[2022-03-31 07:10] Einbasaharan commented on #525
@mayurmohanpatil
We can use Slack workspace. Please share the invite.

[2022-03-31 08:24] mayurmohanpatil commented on #525
@Einbasaharan can you please fill up the form https://podio.com/webforms/22979270/1633242 so that I can create slack channel for you.

[2022-04-06 11:21] philipp1992 opened #527 "openshift OVN CNI "hostsubnet" not found"
Hi,
we are using openshift 4.9 with the latest ingress-controller and get the following error when using openshift OVN CNI.

[code]

When using openshift SDN CNI it works.

[2022-04-06 11:52] philipp1992 commented on #527
we just found out that the operator of the openshift operator catalogue is using version 1.18 :( so thats the issue.

[2022-04-06 11:52] #527 closed

[2022-04-06 11:58] philipp1992 opened #528 "Container exists with exception on openshift"
using cic 1.23.10  installed with helm on openshift 4.9 with openshift OVN

`--set nsIP=10.0.38.6,license.accept=yes,adcCredentialSecret=nslogin,openshift=true,exporter.required=true,nsPort=80,nsProtocol=HTTP,clusterName=c4,nodeWatch=true,ipam=true,disableOpenshiftRoutes=true,crds.install=true -n citrix-system,image=quay.io/citrix/citrix-k8s-ingress-controller:1.23.10`

[code]

[2022-04-06 13:04] apoorva-05 commented on #528
@philipp1992
1. what was the exact set command used? I think the above command shared would have resulted in some error due to the -n namespace in between the value list ?
2. Was the helm charts deployed directly or were there any modifications done say in RBAC?
3. Also can you share the complete CIC logs?

[2022-04-06 13:05] philipp1992 commented on #528
yeah that command was wrong but i corrected it.
with openshift SDN its working, openshift OVN failing

[2022-04-06 13:12] apoorva-05 commented on #528
@philipp1992
will you be able to share the following details:
1. complete CIC logs.
2. The clusterrole created by the helm for this deployment, it should be prefixed by the name provided during helm install?

[2022-04-07 09:14] philipp1992 commented on #528
[code]
logs attached

[code]

[code]

[2022-04-07 09:23] apoorva-05 commented on #528
@philipp1992 can you share the complete ClusterRole ?

[2022-04-07 09:56] philipp1992 commented on #528
[code]

[2022-04-07 15:16] apoorva-05 commented on #528
@philipp1992
For OVN CNI we rely on the following two annotations on the nodes to fetch the required podCIDR and gatewayIP to add the routes on the ADC.
[code]
This is failing for the following two-nodes 10.x.x.42 and 10.x.x.12. can you confirm that it's present on these nodes?

[2022-04-07 15:35] burkhat commented on #528
@apoorva-05 I'm a collegue from philipp and this nodes are Windows Nodes and they doens't have this annotations.
Does the citrix-ingress-controller supports windows nodes?

annotations:
    csi.volume.kubernetes.io/nodeid: >-
      {"csi.vsphere.vmware.com":"422467f7-5d34-78c4-fd35-44e239e1ee06","smb.csi.k8s.io":"chmuw-default-windows-62q8n"}
    k8s.ovn.org/hybrid-overlay-distributed-router-gatew

[2022-04-08 08:41] philipp1992 commented on #528
we have added the annotations to all nodes but still get the same erorr.
[cic2.txt](https://github.com/citrix/citrix-k8s-ingress-controller/files/8450151/cic2.txt)

[2022-04-09 04:41] mayurmohanpatil commented on #528
@philipp1992 we need to validate Citrix Ingress controller support on windows based OpenShift 4.9 cluster. Can we engage further over slack channel to know more about your use case and assist you further.
Here is the email id AppModernization@citrite.net where you can share your email id to create slack channel.

[2022-04-11 07:14] philipp1992 commented on #528
seems like the email is incorrect `[AppModernization@citrite.net](mailto:AppModernization@citrite.net)`

[2022-04-11 07:28] mayurmohanpatil commented on #528
@philipp1992 in case you are not able to send us an email, please use https://podio.com/webforms/22979270/1633242 invite to share your details where I can create slack channel for you.

[2022-04-14 09:06] mickael-decastro opened #531 "VPX-CIC CrashLoopBackOFF - Rbac 403 error /version"
**Describe the bug**
the vpx-ci pod are in CrashLoopBackOff and we have a Rbac 403 error to access to /namespaces/{namespace}/version during citrix-k8s-ingress-controller deployment.  Auto route configuration is enable and cic namespace set.

**Slack Channel**
To request an invitation to participate in the Slack channel, please supply your email address using this form: https://podio.com/webforms/

[2022-04-14 10:03] aroraharsh23 commented on #531
@mickael-decastro could you please try without using
- name: "NAMESPACE"
          value: "test-vpx"
with the same cluster-roles.

[2022-04-14 10:13] mickael-decastro commented on #531
Hi,
thks for your quick reply.
Without Namespace it works ... but I would like to limit cic collection to a specific namesapace.

[2022-04-14 10:15] aroraharsh23 commented on #531
As of now, we don't support Role based CIC. You can run CIC in any namespace with cluster-role permissions

[2022-04-22 15:42] apoorva-05 commented on #525
@Einbasaharan Please use the following env variable to control nitro timeouts when you have a large config.
By default CIC timeouts after 20s
[code]
Closing this issue now.

[2022-04-22 15:42] #525 closed

[2022-07-20 11:27] progS1m opened #545 "Improve CSW Policy generation by outsourcing the Hostnames into Patternsets"
**Is your feature request related to a problem? Please describe.**
If you have a huge list of hosts inside one Ingress for example to server multiple Top-Level-Domains, there is a max limit as of the policy length has a fixed size limit.

The policy gets with each host longer until you exceed a limit:

`(HTTP.REQ.HOSTNAME.SERVER.EQ("www.booksample.ca")||HTTP.REQ.HOSTNAME.SERVER.EQ("www.sample.at")

[2022-07-20 11:41] progS1m opened #546 "Cert-Manager only works with native ingress but not with listener CRD"
**Is your feature request related to a problem? Please describe.**
https://cert-manager.io can be used with native ingress but do not work when using the listener based approach.

Working example:
[code]

[2022-07-25 11:48] vintury opened #547 "authpolicy and rewritepolicy can't be named with "-" symbol"
**Describe the bug**
**authpolicy** and **rewritepolicy** can't be named with "-" symbol.
If you use the "-" character for the metadata.name field, then there will be an error in the CIC logs.

Kubernetes require use "-" and "." symbols for fields metadata.name:
```metadata.name: a lowercase RFC 1123 subdomain must consist of lower case alphanumeric characters, '-' or '.', and must start and end w

[2022-07-25 12:47] progS1m opened #548 "HTTPRoute CRD, for redirect action type the response status code must be in the range 300-399"
**Describe the bug**
I noticed in the HTTPRoute CRD for redirects has this validation:
minimum: 100
maximum: 599

https://github.com/citrix/citrix-k8s-ingress-controller/blob/master/crd/contentrouting/HTTPRoute.yaml

Problem, when configuring a 404 this leads to an error and would either not work. See printscreen.

**Expected behavior**
Should be set to
minimum: 300
maximum: 399

**Additional cont

[2022-07-25 12:53] progS1m commented on #548
I know for 404 Responder the workaround is to use a Rewrite-Responder: https://github.com/citrix/citrix-k8s-ingress-controller/blob/master/docs/crds/rewrite-responder.md

[2022-07-26 06:17] aroraharsh23 commented on #547
@vintury There were some internal constraints, due to which "-" was not allowed in naming. We are analysing again, if we can remove this restriction.

[2022-07-26 06:18] aroraharsh23 commented on #548
@progS1m Thanks for reporting, will review and correct the same.

[2022-07-29 18:01] lacoq opened #549 "Adapt the deployment to run as non root"
Wondering if it would be possible to adapt the citrix cloud native components to be able to run as non root.  In order to improve security it would be ideal if it was possible to update or expose the security context so it can be templated to run as non root.

[2022-07-29 18:04] lacoq opened #550 "Inject network policy"
On certain k8s instances it would be beneficial to be able to inject inject a network policy to allow the definition of a network policies around the Citrix exporter components.

[2022-08-06 10:40] ONordander opened #551 "Failed to create csvserver"
**Describe the bug**
Hi, I have installed the citrix-ingress-controller in my Kubernetes cluster and when trying to create an Ingress it throws an error of:
`2022-08-06 10:09:20,721  - ERROR - [nitrointerface.py:_create_nsapp_cs_vserver:3575] (MainThread) Failed to create csvserver <prefix-frontend-ip_80_http> errorcode=273,message=Resource already exists`
In the UI I can't see that the server exi

[2022-10-20 22:00] enov opened #555 "Allow the HTTP method PATCH to be part of Authentication and Authorization policies' method list"
**Is your feature request related to a problem? Please describe.**
The list of allowed methods for Authentication and Authorization policies does not allow PATCH. PATCH is a common HTTP method/verb to build RESTful APIs around.

**Describe the solution you'd like**
Add PATCH to the list of allowed methods for Authentication and Authorization policies and make it work.

**Describe alternatives you'

[2022-11-02 05:49] apoorva-05 commented on #551
@ONordander By any chance are you using the same <frontend-ip> in ingresses belonging to different controllers?
We currently don't support sharing the same <frontend-ip> by multiple ingress controllers.

[2022-11-09 05:18] bharthi-m commented on #548
<img width="1449" alt="httproute" src="https://user-images.githubusercontent.com/82507334/200744721-8458f7b3-4f44-46f9-b2e6-bd05d503acb6.png">
The range has been updated in the latest version of Netscaler.

[2022-11-25 14:15] vintury opened #559 "CIC can't enable ClientAuth in SSL Profile"
**Describe the bug**
CIC can't enable ClientAuth in SSL Profile

**Slack Channel**
To request an invitation to participate in the Slack channel, please supply your email address using this form: https://podio.com/webforms/22979270/1633242

**To Reproduce**
1. Steps
Create ingress:
[code]
Check ADC configuration:
[code]

2. Version of the Citrix Ingress Controller
1.27.15
3. Version of MPX/VPX/CPX

[2022-11-25 15:53] apoorva-05 commented on #559
@vintury,
Considering multiple ingress yamls can share the same frontend, we did not want their frontend profiles to conflict.
In order to address this issue, we have introduced a concept called frontend-ingress. It is an ingress with an empty TLS and rule section.
This single file must contain all the frontend-profiles for the CSvserver, including tcp/http/ssl.
For details regarding this please r

[2022-11-28 08:18] vintury commented on #559
Hello.
@apoorva-05 thank you for answer.
In section ingress.citrix.com/frontend-sslprofile I change two parameters: clientauth and tls1. And one of them was applied correctly. As you can see **TLSv1 is DISABLED** state, but **Client Auth still DISABLED** (In default ssl profile TLSv1 is ENABLED).

I was applied ingress from your example, but **Client Auth still DISABLED**.
[code]
SSL profile:
[cod

[2022-11-28 09:56] apoorva-05 commented on #559
@vintury can you please share the output of 'sh ssl parameter' ?

[2022-11-28 13:45] vintury commented on #559
[code]

[2022-11-30 12:15] apoorva-05 commented on #559
@vintury when you are providing the preconfigured certificate in the ingress annotation, can you please change the cert type from "default" to "ca".
**Your current annotation:**
`ingress.citrix.com/preconfigured-certkey: '{"certs": [ {"name": "star.mydomain.net-crt", "type": "default"} ] }'`
**Suggested:**
`ingress.citrix.com/preconfigured-certkey: '{"certs": [ {"name": "star.mydomain.net-crt", "t